In [1]:
import pandas as pd
import os
import numpy as np
import shutil

## STEP 1: Create Folder Structure

In [ ]:
folders = ['data/raw', 'data/processed', 'data/output']

for folder in folders:
    os.makedirs(folder)
    
print('Folders created')

In [ ]:
shutil.move('Amazon Sale Report.csv', 'data/raw/Amazon Sale Report.csv')

## STEP 2: EXTRACT – Load Raw Dataset

In [2]:
raw_path = 'data/raw/Amazon Sale Report.csv'

data = pd.read_csv(raw_path)

data.head()

/var/folders/hz/k456gp190xqckjgx1vgk5rf40000gp/T/ipykernel_3673/2027758528.py:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(raw_path)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [3]:
data.shape

(128975, 24)

In [4]:
data.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [5]:
data.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [7]:
data.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  121180.000000     128942.000000
mean    64487.000000       0.904431     648.561465     463966.236509
std     37232.019822       0.313354     281.211687     191476.764941
min         0.000000       0.000000       0.000000     110001.000000
25%     32243.500000       1.000000     449.000000     382421.000000
50%     64487.000000       1.000000     605.000000     500033.000000
75%     96730.500000       1.000000     788.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

In [8]:
data.describe(include = 'object')

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,currency,ship-city,ship-state,ship-country,promotion-ids,fulfilled-by,Unnamed: 22
count,128975,128975,128975,128975,128975,128975,128975,128975,128975,128975,128975,122103,121180,128942,128942,128942,79822,39277,79925
unique,120378,91,13,2,2,2,1377,7195,9,11,7190,3,1,8955,69,1,5787,1,1
top,171-5057375-2831560,05-03-22,Shipped,Amazon,Amazon.in,Expedited,JNE3797,JNE3797-KR-L,Set,M,B09SDXFFQ1,Shipped,INR,BENGALURU,MAHARASHTRA,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,Easy Ship,False
freq,12,2085,77804,89698,128851,88615,4224,773,50284,22711,773,109487,121180,11217,22260,128942,46100,39277,79925

In [9]:
data.isna().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [10]:
data.duplicated().sum()

0

## STEP 3: TRANSFORM

### Standardize Column Names:

In [13]:
data.columns = (data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_'))

data.columns

Index(['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel',
       'ship_service_level', 'style', 'sku', 'category', 'size', 'asin',
       'courier_status', 'qty', 'currency', 'amount', 'ship_city',
       'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids',
       'b2b', 'fulfilled_by', 'unnamed:_22'],
      dtype='object')

### Remove Duplicates:

In [14]:
before = len(data)

data = data.drop_duplicates()

after = len(data)

print('Duplicates Removed:', before - after)

Duplicates Removed: 0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   order_id            128975 non-null  object
 2   date                128975 non-null  object
 3   status              128975 non-null  object
 4   fulfilment          128975 non-null  object
 5   sales_channel       128975 non-null  object
 6   ship_service_level  128975 non-null  object
 7   style               128975 non-null  object
 8   sku                 128975 non-null  object
 9   category            128975 non-null  object
 10  size                128975 non-null  object
 11  asin                128975 non-null  object
 12  courier_status      122103 non-null  object
 13  qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  amount              121180 non-null  float64
 16  ship_city           128942 non-null  object
 17  ship_state          128942 non-null  object
 18  ship_postal_code    128942 non-null  float64
 19  ship_country        128942 non-null  object
 20  promotion_ids       79822 non-null   object
 21  b2b                 128975 non-null  bool
 22  fulfilled_by        39277 non-null   object
 23  unnamed:_22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 23.7+ MB

### Fix Data Types:

In [16]:
data['date'] = pd.to_datetime(data['date'])

In [17]:
data['amount'] = pd.to_numeric(data['amount'])
data['qty'] = pd.to_numeric(data['qty'])

### Create Derived Business Columns:

In [18]:
data['order_type'] = data['b2b'].apply(lambda x: 'B2B' if x == True else 'B2C')

In [19]:
data['revenue'] = data['amount'] * data['qty']

In [20]:
data['order_month'] = data['date'].dt.to_period('M')

### Handle Missing Values:

In [21]:
data = data.drop(columns = ['index', 'unnamed:_22', 'sales_channel'], errors = 'ignore')

In [22]:
data = data.dropna(subset = ['order_id', 'date', 'amount', 'qty', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country'])

In [23]:
data = data.fillna('Unknown')

## Validate

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121149 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            121149 non-null  object
 1   date                121149 non-null  datetime64[ns]
 2   status              121149 non-null  object
 3   fulfilment          121149 non-null  object
 4   ship_service_level  121149 non-null  object
 5   style               121149 non-null  object
 6   sku                 121149 non-null  object
 7   category            121149 non-null  object
 8   size                121149 non-null  object
 9   asin                121149 non-null  object
 10  courier_status      121149 non-null  object
 11  qty                 121149 non-null  int64
 12  currency            121149 non-null  object
 13  amount              121149 non-null  float64
 14  ship_city           121149 non-null  object
 15  ship_state          121149 non-null  object
 16  ship_postal_code    121149 non-null  float64
 17  ship_country        121149 non-null  object
 18  promotion_ids       121149 non-null  object
 19  b2b                 121149 non-null  bool
 20  fulfilled_by        121149 non-null  object
 21  order_type          121149 non-null  object
 22  revenue             121149 non-null  float64
 23  order_month         121149 non-null  period[M]
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(17), period[M](1)
memory usage: 22.3+ MB

In [25]:
print('Total rows after cleaning:', len(data))
print('Null remaining:\n', data.isnull().sum())

Total rows after cleaning: 121149
Null remaining:
 order_id              0
date                  0
status                0
fulfilment            0
ship_service_level    0
style                 0
sku                   0
category              0
size                  0
asin                  0
courier_status        0
qty                   0
currency              0
amount                0
ship_city             0
ship_state            0
ship_postal_code      0
ship_country          0
promotion_ids         0
b2b                   0
fulfilled_by          0
order_type            0
revenue               0
order_month           0
dtype: int64

In [26]:
data.sample(5)

,order_id,date,status,fulfilment,ship_service_level,style,sku,category,size,asin,...,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,order_type,revenue,order_month
14869,407-9178976-9025916,2022-04-21,Shipped,Amazon,Expedited,JNE3459,JNE3459-KR-S,kurta,S,B08BFW22DK,...,THANE,MAHARASHTRA,401303.0,IN,Unknown,False,Unknown,B2C,442.0,2022-04
13207,171-2638897-3294726,2022-04-22,Shipped,Amazon,Expedited,JNE3468,JNE3468-KR-S,kurta,S,B08RP3YXBX,...,PIMPRI CHINCHWAD,MAHARASHTRA,412105.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,Unknown,B2C,352.0,2022-04
120795,406-8263725-7650724,2022-06-06,Shipped,Amazon,Expedited,SET310,SET310-KR-NP-L,Set,L,B09RKDGKTM,...,MEGHRAJ,Gujarat,383350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,Unknown,B2C,999.0,2022-06
5743,405-8267810-0909904,2022-04-27,Shipped - Delivered to Buyer,Merchant,Standard,JNE3440,JNE3440-KR-N-XL,kurta,XL,B081WPK66G,...,NAGPUR,MAHARASHTRA,440012.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,B2C,399.0,2022-04
27359,405-1808530-0594702,2022-04-14,Shipped,Amazon,Expedited,JNE3607,JNE3607-KR-XXL,kurta,XXL,B08TH4GTW9,...,GOLAGHAT,ASSAM,785621.0,IN,Unknown,False,Unknown,B2C,471.0,2022-04

## STEP 4: Load - Output
## Save Cleaned Data to CSV

In [27]:
data.to_csv('data/processed/cleaned_amazon_store.csv', index = False)

## Create Dimension Tables

### Order Table:

In [28]:
orders = data[['order_id', 'date', 'status', 'fulfilment', 'order_type', 'asin', 'revenue']]

### Products Table:

In [29]:
products = data[['sku', 'style', 'category', 'size', 'asin']]

### Shipping Table:

In [30]:
shipping = data[['order_id', 'ship_city', 'ship_state', 'ship_country', 'ship_service_level', 'courier_status']]

## STEP 5: VALIDATION & Referential Integrity Check
Check Row Counts

In [31]:
print('Shipping:', len(shipping))
print('Orders:', len(orders))
print('Products:', len(products))

Shipping: 121149
Orders: 121149
Products: 121149

In [32]:
assert shipping['order_id'].isin(orders['order_id']).all()
print('Foreign key validation.')

Foreign key validation.

## Load to PostgreSQL

In [33]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus


username = 'postgres'
password = ' '
host = 'localhost'
port = '5432'
database = 'etl_project'


password_encoded = quote_plus(password)
engine = create_engine(f'postgresql://{username}:{password_encoded}@{host}:{port}/{database}')

In [34]:
orders.to_sql('amazon_orders', con = engine, if_exists = 'replace', index = False)
products.to_sql('amazon_products', con = engine, if_exists = 'replace', index = False)
shipping.to_sql('amazon_shipping', con = engine, if_exists = 'replace', index = False)

print('Data loaded into PostgreSQL')

Data loaded into PostgreSQL

## Verifing Using SQL

In [35]:
pd.read_sql('SELECT COUNT(*) FROM amazon_orders;', engine)

    count
0  121149

## ETL Mini Pipeline Project

#### Overview:
This project demonstrates an end-to-end ETL pipeline using Python.
The pipeline extracts raw retail sales data from Kaggle, transforms it, and loads structured outputs into PostgreSQL and CSV files.

### ETL Steps
#### Extract:
Loaded raw CSV dataset
Created folder structure (raw, processed, output)

#### Transform:
Standardized column names
Removed duplicate records
Handled missing values
Converted data types
Created derived columns: Profit, Revenue, Order_type

#### Split:
Created dimensional datasets:
Customers
Orders
Products

#### Load:
Exported clean CSV files
Loaded structured tables into SQLite database

#### Validation:
Verified record counts before & after cleaning
Ensured no duplicate primary keys
Validated foreign key consistency
Confirmed revenue totals integrity

#### Business Value:
Improved data quality
Enabled dimensional modeling
Prepared data for analytics and dashboarding
Demonstrated production-style ETL process